.footerContainer {
  position: relative;
  height: 800px;
}

.footerWrapper {
  position: relative;
  height: calc(100vh + 800px);
  top: -100vh;
}

.footerSticky {
  height: 800px;
  position: sticky;
  top: calc(100vh - 800px);
} 